/* All styles for your Card Components live here */
.cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

.card-textcontent {
    margin-left: 13px;
    margin-top: 15px;
}

#banner {
    width: 93%;
    height: 68%;
    border-radius: 2px;
}

.cardSection {
    width: 90%;
}

a {
    text-decoration: none;
    color:black;
}

p span {
    font-size: 14px;
    color: gray;
  }